<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "2375", right: "2375", display: true},
                {left: "$", right: "$", display: false}
            ],
            throwOnError : false
        });
    });
</script>

<style>
    :root {
        --article-max-width: min(65ch, 100%);
    }

    @media (min-width: 1024px) {
        :root {
            --article-max-width: min(80ch, 100%);
        }
    }

    article #single_header,
    article section.prose,
    article .article-content {
        max-width: var(--article-max-width);
    }

    article section.prose,
    article .article-content {
        width: 100%;
    }
</style>
